@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&family=Space+Grotesk:wght@300;700&family=Space+Mono&family=Work+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;